name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - name: Katalon Report Uploader
      uses: katalon-studio/report-uploader@v0.0.8
      env:
        PASSWORD: 6f9f16d0-b184-4eac-b782-45028b842dc7
        PROJECT_ID: 166846
        TYPE: katalon
        REPORT_PATH: ReportFolder

  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Katalon Studio Github Action
      uses: katalon-studio/katalon-studio-github-action@v2
      with:
          version: '7.5.5'
          projectPath: '${{ github.workspace }}'
          args: '-noSplash -retry=0 -testSuitePath="Test Suites/Run All Test Case" -apiKey= ${{ secrets.API_KEY }} -browserType="Chrome" --config -webui.autoUpdateDrivers=true'
  
  notification:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_CHANNEL: 227-nvc
        SLACK_FOOTER: chudenangcao 2021.
